@import "bootstrap";
@import "ember-power-select";

body {
  padding-top: 70px;
  padding-bottom: 20px;
}

.navbar-header {
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-left: 10px;
}

.ember-power-select-multiple-option img.icon {
  height: 80px;
  display: block;
}

.ember-power-select-option img.icon {
  height: 20px;
}

form input {
  margin-top: 10px;
}
