<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header navbar-right">Professor Xavier<br/>Teaming Tool</div>
    <ul class="nav navbar-nav">
      {{#link-to 'active' tagName="li"}}<a href="">Active teams</a>{{/link-to}}
      {{#link-to 'disbanded' tagName="li"}}<a href="">Disbanded teams</a>{{/link-to}}
    </ul>
  </div>
</nav>
